@import "nullstyle.scss";
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700,900);

// -------------------- FONTS

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

// --------------------

.wrapper {
    display: flex;
    flex-direction: column;
}

.container {
    position: relative;
    max-width: 1180px;
    margin: 0 auto;

    @media (max-width:1180px) {
        max-width: 970px;
    }
    
    @media (max-width:992px){
        max-width: 750px;
    }
    
    @media (max-width:767px){
        max-width: none;
    }
}

.active{
    color: #2ADACC;
    border: 1px solid #2ADACC;
    border-radius: 5px;
}

//-------------------- header

.header {
    background-image: url(./../img/BG_header.png);
    background-repeat: no-repeat;
    background-size: cover;

    @media (max-width:992px){
        padding-bottom: 50px;
    }

		&__wrapper {
            display: flex;
            flex-direction: column;
		}

		&__nav {
            flex: 0 0 auto;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 0;
            @media (max-width:767px){
                padding: 15px;
            }
		}

		&__logo {
            cursor: pointer;
		}

		&__menu {
            position: relative;
            font-family: Nunito, sans-serif;
            font-weight: 600;
            color: #D9F7F5;
            text-transform: uppercase;
		}

		&__list {
            display: flex;
            justify-content: space-between;
            align-items: center;

            @media (max-width:992px){
                display: none;
            }
            
            & li{
                margin-right: 10px;
                padding: 10px 16px;
                cursor: pointer;
                transition: .2s;
                
                &:last-child{
                    margin-right: 0;
                }

                &:hover{
                    color: #2ADACC;
                }
            }
		}

        &__burger{
            top: 0;
            right: 0;
            height: 30px;
            display: none;
            cursor: pointer;

            @media (max-width:992px){
                display: block;
            }
        }

        &__burger-line{
            width: 40px;
            height: 3px;
            background-color: #2ADACC;
            border-radius: 2px;
            margin-bottom: 10px;

            &:last-child{
                margin-bottom: 0;
            }
        }

		&__body {
            flex: 1 1 auto;
            padding: 100px 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            max-width: 780px;
            margin: 0 auto;

            @media (max-width:1180px) {
                padding: 50px 0;
            }
		}

		&__title {
            font-family: 'Poppins', sans-serif;
            color: #2ADACC;
            font-weight: 800;
            font-size: 70px;
            line-height: 68px;
            text-align: center;
            margin-bottom: 30px;

            @media (max-width:767px){
                font-size: 35px;
                line-height: 45px;
            }
		}

		&__subtitle {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 32px;
            line-height: 48px;
            text-align: center;
            color: #D9F7F5;
            margin-bottom: 20px;

            @media (max-width:767px){
                font-size: 25px;
                line-height: 35px;
            }
		}

		&__label {
            font-family: 'Poppins', sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 30px;
            text-align: center;
            color: #D9F7F5;
            margin-bottom: 30px;

            @media (max-width:767px){
                font-size: 15px;
                line-height: 25px;
            }
		}

		&__button {
            background-color: #2ADACC;
            padding: 10px 17px;
            text-transform: uppercase;
            font-family: 'Nunito', sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height: 22px;
            border-radius: 5px;
            cursor: pointer;
            transition: .2s;

            &:hover{
                background-color: #2adacb7a;
            }
		}
}

//-------------------- description

.description {
    background-image: url(./../img/BG_block1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

    @media (max-width:992px){
        margin-top: -50px;
    }

    &__gradient{
        position: absolute;
        left: 0;
        top: -100px;
        height: 200px;
        width: 100%;
        height: 200px;
        background: linear-gradient(rgb(0, 9, 15, 0), rgb(0, 9, 15), rgb(0, 9, 15,0)); 

        @media (max-width:1180px) {
            height: 50px;
            top: -25px;
        }
        
    }

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 990px;
        margin: 0 auto;
    }

    &__image {
        margin-left: -150px;

        @media (max-width:1180px) {
            margin-left: -80px;
        }

        img{
            @media (max-width:1180px) {
                height: 500px;
            }
        }

        @media (max-width:767px){
            display: none;
        }
    }

    &__body {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 33px;
        color: #D9F7F5;

        @media (max-width:992px){
            margin-left: -130px;
        }

        @media (max-width:767px){
            margin-left: 0;
            padding: 10px;
            font-size: 15px;
            line-height: 25px;
        }
    }
}

//-------------------- MetisEtherium

.MetisEtherium {
    padding: 120px 0 160px 0;
    background-color: #00090f;
    position: relative;

    @media (max-width:1180px) {
        padding: 60px 0 80px 0;
    }
    @media (max-width:767px){
        padding: 30px 0 30px 0;
    }

    &__gradient{
        position: absolute;
        left: 0;
        top: 0;
        margin: -200px 0 0 0;
        width: 100%;

        @media (max-width:1180px) {
            margin: -100px 0 0 0;
        }
        @media (max-width:767px){
            display: none;
        }

        img{
            height: 300px;
            width: 100%;

            @media (max-width:1180px) {
                height: 200px;
            }
        }
    }
    &__row {
        display: flex;
        align-items: center;

        @media (max-width:1180px) {
            flex-wrap: wrap;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;

        @media (max-width:1180px) {
            flex: 0 0 100%;
        }
    }

    &__title {
        color: #D9F7F5;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 42px;
        line-height: 64px;
        &_green{
            color: #2ADACC;
        }

        @media (max-width:1180px) {
            text-align: center;
        }
        @media (max-width:767px){
            font-size: 32px;
            line-height: 40px;
        }
        @media (max-width:400px){
            font-size: 25px;
            line-height: 35px;
        }
    }

    &__subtitle {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 27px;
        color: #D9F7F5;
        margin-bottom: 32px;

        @media (max-width:1180px) {
            text-align: center;
        }
        @media (max-width:767px){
            font-size: 15px;
            line-height: 20px;
        }
    }

    &__clallenges {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        flex: 0 0 45%;

        @media (max-width:1180px) {
            justify-content: space-between;
            flex: 0 0 100%;
        }

        @media (max-width:400px){
            display: block;
        }
    }

    &__item {
        display: flex;
        justify-content: start;
        align-items: center;
        margin-bottom: 20px;
        flex: 0 1 50%;
        cursor: pointer;
        transition: .2s;

        &:hover{
            transform: scale(1.1);
        }

        @media (max-width:1180px) {
            flex: 0 0 33.333%;
            justify-content: center;
        }
        @media (max-width:400px){
            margin: 0 auto;
            margin-bottom: 10px;
        }
    }

    &__icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        background-color: rgb(86, 226, 214, .2);
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width:767px){
            width: 25px;
            height: 25px;
        }
        img{
            width: 15px;
            height: 15px;
        }
    }

    &__label {
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 28px;
        line-height: 44px;
        color: #D9F7F5;
        padding: 0 0 0 12px;

        @media (max-width:767px){
            padding: 0 0 0 10px;
            font-size: 20px;
        }
    }

    &__table {
        display: flex;
        border: 2px solid transparent;
        border-image: linear-gradient(270deg,rgb(42, 218, 204), rgb(23, 30, 36));
        border-image-slice: 1;
        border-radius: 5px;
        background-color: rgba(12, 16, 19, 0.7);
        padding: 34px;

        &_layer1{
            color: #425667;
        }
        
        
        @media (max-width:1180px) {
            flex: 0 0 100%;
        }
        @media (max-width:767px){
            padding: 10px;
        }
    }
}
// Топрная таблица, мне не нравится
table{
    
    color: #D9F7F5;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    flex: 1 1 55%;

    @media (max-width:1180px) {
        flex: 0 0 100%;
    }
    @media (max-width:767px){
        font-size: 10px;
        line-height: 15px;
    }

    th{
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 27px;
        text-align: left;
        padding: 5px;
        
        &:nth-child(1){
            border-right: 1px solid #202932;
        }
        &:nth-child(2){
            border-right: 1px solid #202932;
        }

        @media (max-width:767px){
            font-size: 15px;
            line-height: 20px;
        }
    }
    td{
        &:nth-child(1){
            border-top: 1px solid #202932;
            border-right: 1px solid #202932;
        }
        &:nth-child(2){
            border-top: 1px solid #202932;
            border-right: 1px solid #202932;
        }
        &:nth-child(3){
            border-top: 1px solid #202932;
        }
        padding: 5px;
        font-size: 16px;

        @media (max-width:767px){
            font-size: 12px;
        }
    }
}


//-------------------- howMetis

.howMetis {
    background-image: url(./../img/BG_block3.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    padding: 120px 0;

    @media (max-width:1180px) {
        padding: 60px 0;
    }
    @media (max-width:992px){
        padding: 20px 0;
    }
    @media (max-width:767px){
        background-image: none;
        background-color: #00090f;
    }

    &__title {
        font-family: 'Inter', sans-serif;
        font-weight: 600;
        font-size: 42px;
        line-height: 51px;
        text-align: center;
        color: #2ADACC;
        margin-bottom: 49px;

        & span{
            color: #F5F5F5;
            text-transform: uppercase;
        }

        @media (max-width:767px){
            font-size: 32px;
            line-height: 40px;
        }
         
        @media (max-width:400px){
            font-size: 21px;
            line-height: 30px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-around;
        text-align: center;

        @media (max-width:992px){
            flex-wrap: wrap;
        }
        @media (max-width:767px){
            display: block;
        }
    }

    &__column {
        max-width: 320px;
        transition: .2s;
        cursor: pointer;

        &:hover{
            transform: scale(1.1);
        }

        @media (max-width:1180px) {
            width: 300px;
        }
        @media (max-width:992px){
            margin-bottom: 40px;
        }
        @media (max-width:767px){
            margin: 0 auto;
            margin-bottom: 20px;
        }

    }

    &__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #171E24;
        border-radius: 10px;
        padding: 21px 21px 45px 21px;
        z-index: 1;

        &::before{
            content: "";
            position: absolute;
            inset: -3px;
            border-radius: 15px; 
            padding: 3px; 
            background:linear-gradient(180deg,rgb(42, 218, 204), rgb(23, 30, 36)); 
            -webkit-mask: 
               linear-gradient(#fff 0 0) content-box, 
               linear-gradient(#fff 0 0);
            -webkit-mask-composite: xor;
            mask-composite: exclude; 
            z-index: 0;
        }

        @media (max-width:1180px) {
            padding: 12px 12px 22px 12px;
        }
    }

    &__image {
        width: 122px;
        height: 122px;
        border: 2px solid #2ADACC;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 38px;

        
    }

    &__subtitle {
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        color: #2ADACC;
        font-size: 20px;
        line-height: 30px;
        margin-bottom: 20px;
    }

    &__label {
        text-align: left;
        color: #D9F7F5;
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        margin-bottom: 20px;
    }

    &__line {
        width: 100%;
        height: 1px;
        background-color: #202932;
        margin-bottom: 20px;
    }

    &__button {
        font-family: 'Nunito', sans-serif;
        font-weight: 700;
        font-size: 16px;
        line-height: 22px;
        text-transform: uppercase;
        color: #2ADACC;
        border: 1px solid #2ADACC;
        border-radius: 5px;
        padding: 10px 20px;
        cursor: pointer;
        transition: .2s;
        z-index: 2;
        
        &:hover{
            background-color: rgb(42, 218, 204, .5);
        }
    }
}

//-------------------- findYourCase

.findYourCase {
    padding: 80px 0 87px 0;
    background-image: url(./../img/BG_block5.png);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;

    @media (max-width:1180px) {
        padding: 40px 0 43.5px 0;
    }
    @media (max-width:767px){
        padding: 20px 0;
    }
    

    &__gradient{
        position: absolute;
        left: 0;
        top: -100px;
        height: 200px;
        width: 100%;
        height: 200px;
        background: linear-gradient(rgb(0, 9, 15, 0), rgb(0, 9, 15), rgb(0, 9, 15,0));

        @media (max-width:767px){
            display: none;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        @media (max-width:1180px) {
            flex-wrap: wrap;
        }
    }

    &__body {
        flex: 0 0 31.779%;

        @media (max-width:1180px) {
            flex: 0 0 100%;
        }
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 42px;
        line-height: 50px;
        color: #2ADACC;
        margin-bottom: 20px;

        @media (max-width:1180px) {
            text-align: center;
        }
        @media (max-width:767px){
            font-size: 32px;
            line-height: 40px;
        }
        @media (max-width:400px){
            font-size: 21px;
            line-height: 28px;
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 20px;
        line-height: 31px;
        color: #D9F7F5;

        @media (max-width:1180px) {
            text-align: center;
            margin-bottom: 26px;
        }
        @media (max-width:767px){
            font-size: 18px;
            line-height: 25px;
        }
        @media (max-width:400px){
            font-size: 14px;
            line-height: 25px;
        }
    }

    &__cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        align-items: center;
        margin: 0 -43.5px;
        padding-left: 26px;

        @media (max-width:1180px) {
            padding-left: 0;
            margin: 0 -25px;
        }
        @media (max-width:992px){
            margin: 0 -10px;
        }
        @media (max-width:767px){
            justify-content: space-around;
        }
    }

    &__column {
        padding: 0 43.5px;

        @media (max-width:1180px) {
            padding: 0 25px;
        }
        @media (max-width:992px){
            padding: 0 10px;
        }
    }

    &__card {
        cursor: pointer;
        width: 200px;
        height: 92px;
        padding: 26px 0 26px 20px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        background-color: #060809;
        border: 1px solid #202932;
        border-radius: 5px;
        margin-bottom: 33px;
        transition: .2s;

        &:hover{
            transform: scale(1.1);
        }
    }

    &__label {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 20px;
        color: #F5F5F5;
        padding-left: 9px;
    }
}

//-------------------- belief

.belief {
    padding: 100px 0 56px 0;
    background-color: rgb(0, 9, 15);

    @media (max-width:1180px) {
        padding: 50px 0 28px 0;
    }

    @media (max-width:992px){
        padding: 25px 0;
    }
    @media (max-width:767px){
        padding: 20px 15px;
    }

    &__header {
        
        text-transform: uppercase;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 20px;
        line-height: 34px;
        color: #D9F7F5;
        margin-bottom: 10px;

        @media (max-width:500px){
            text-align: center;
        }
    }

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin: 0 -10px;

        @media (max-width:992px){
            flex-wrap: wrap;
        }
    }

    &__column1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 0 1 50%;
        padding: 0 10px;

        @media (max-width:992px){
            flex: 0 0 100%;
        }
    }

    &__title {
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 42px;
        line-height: 50px;
        color: #2ADACC;
        margin-bottom: 57px;

        @media (max-width:992px){
            margin-bottom: 20px;
        }
        @media (max-width:767px){
            font-size: 32px;
            line-height: 40px;
        }
        @media (max-width:500px){
            text-align: center;
            margin-bottom: 30px;
        }
        @media (max-width:400px){
            font-size: 21px;
            line-height: 25px;
        }
    }

    &__item {
        &_bottom {
            align-self: flex-end;
        }
    }

    &__subtitle {
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 20px;
        line-height: 30px;
        color: #2ADACC;
        margin-bottom: 10px;
        text-transform: uppercase;

        @media (max-width:500px){
            text-align: center;
        }
        @media (max-width:400px){
            line-height: 20px;
        }
    }

    &__label {
        font-family: 'Nunito', sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        color: #D9F7F5;
        margin-bottom: 24px;

        @media (max-width:500px){
            text-align: center;
        }
    }

    &__column2 {
        position: relative;
        display: flex;
        flex: 0 1 50%;
        padding: 0 10px;

        @media (max-width:992px){
            flex: 0 0 100%
        }
    }

    &__image {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -60%);

        @media (max-width:992px){
            display: none;
        }
    }
}
//-------------------- education

.education {
    padding: 100px 0 66px 0;
    background-color: rgb(0, 9, 15);
    position: relative;

    @media (max-width:1180px) {
        padding: 50px 0 33px 0;
    }

    &__light {
        position: absolute;
        left: 0;
        top: -70%;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 1;

        img {
            width: 100%;
            overflow: hidden;
        }
        @media (max-width:767px){
            display: none;
        }
    }

    &__row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;

        @media (max-width:1180px) {
            flex-direction: column;
        }
    }

    &__body {
        display: flex;
        flex-direction: column;
    }

    &__title {
        font-family: Poppins, sans-serif;
        font-size: 42px;
        font-weight: 600;
        line-height: 63px;
        color: #2ADACC;

        @media (max-width:1180px) {
            text-align: center;
        }
        @media (max-width:767px){
            font-size: 32px;
            line-height: 40px;
        }
    }

    &__subtitle {
        font-family: Nunito, sans-serif;
        font-size: 20px;
        font-weight: 400;
        line-height: 27px;
        color: #D9F7F5;
        margin-bottom: 43px;

        @media (max-width:1180px) {
            text-align: center;
        }
        @media (max-width:767px){
            font-size: 16px;
            line-height: 21px;
        }
    }

    &__items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: 0 -35px;
        padding-right: 30px;

        @media (max-width:992px){
            justify-content: center;
        }
        @media (max-width:767px){
            display: block;
            margin: 0 0 0 0;
            padding-right: 0;
            padding-left: 10px;
        }
    }

    &__column {
        flex: 0 1 50%;

        @media (max-width:1180px) {
            flex: 0 0 33.333%;
        }

        @media (max-width:992px){
            flex: 0 0 50%;
        }
        @media (max-width:767px){
            margin: 0 auto;
            margin-bottom: 20px;
        }
    }

    &__item {
        padding: 0 35px;
        display: flex;
        margin-bottom: 34px;
        align-items: center;

        @media (max-width:992px){
            padding: 0 0 0 35px;
            margin-left: 50px;
        }
        @media (max-width:767px){
            margin: 0 auto;
            padding-left: 0;
        }
    }

    &__item-icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        border: 1px solid #2ADACC;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        transition: .2s;

        &:hover{
            border: 1px solid transparent;
            background-color: #56E2D633;

            &+.education__item-title{
                color: #2ADACC;
            }
        }
    }

    &__item-title {
        padding-left: 10px;
        font-family: Nunito;
        font-size: 20px;
        font-weight: 700;
        line-height: 31px;
        color: #D9F7F5;
        transition: .2s;
        cursor: pointer;

        &:hover{
            color: #2ADACC;
        }
    }

    &__video {
        img{
            @media (max-width:767px){
                width: 310px;
            }
        }
    }
}

//-------------------- frequenly

.frequenly {
    padding: 107px 0;
    background-color: rgb(0, 9, 15);

    @media (max-width:992px){
        padding: 30px 0;
    }
    
    &__row {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 2;

        @media (max-width:992px){
            flex-wrap: wrap;
        }
    }

    &__title-column {
        position: relative;
        flex: 0 1 29%;

        @media (max-width:992px){
            flex: 0 0 100%;
        }
    }

    &__background {
        position: absolute;
        left: -50%;
        top: -70%;
        z-index: 1;

        @media (max-width:767px){
            display: none;
        }
    }

    &__title {
        position: relative;
        font-family: Poppins, sans-serif;
        font-size: 42px;
        font-weight: 600;
        line-height: 50px;
        color: #2ADACC;
        z-index: 2;

        @media (max-width:992px){
            text-align: center;
            margin-bottom: 20px;
        }
        @media (max-width:767px){
            font-size: 32px;
            line-height: 40px;
        }
        @media (max-width:400px){
            font-size: 24px;
            line-height: 30px;
        }
    }

    &__answers {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 0 1 69.1%;
        z-index: 2;

        @media (max-width:992px){
            flex: 0 0 100%;
        }
        @media (max-width:767px){
            padding: 0 10px;
        }
    }

    &__details {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    &__detail {
        user-select: none;
        cursor: pointer;
    }

    &__summary {
        font-family: Poppins;
        font-size: 20px;
        font-weight: 700;
        line-height: 30px;
        color: #D9F7F5;
        padding: 10px 0;
        border-bottom: 2px solid #202932;
        list-style: none;
        position: relative;
        &::-webkit-details-marker {
            display: none
        }

        &::before{
            content: '';
            position: absolute;
            background-image: url(./../img/icons/closed_detail.png);
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            top: 50%;
            right: 0;
            cursor: pointer;
        }
        details[open] &::before{
            content: '';
            position: absolute;
            background-image: url(./../img/icons/open_detail.png);
            background-repeat: no-repeat;
            width: 30px;
            height: 30px;
            top: 50%;
            right: 0;
            cursor: pointer;
        }

        @media (max-width:767px){
            font-size: 16px;
            line-height: 21px;
            padding-right: 40px;
        }
    }

    &__paragraph {
        font-family: Nunito;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
        color: #D9F7F5;
        padding: 10px 0;
        border-bottom: 2px solid #202932;
        padding-left:19px;

        @media (max-width:767px){
            font-size: 12px;
            line-height: 18px;
        }
    }
}

//-------------------- about-us

.about-us {
    padding: 68px 0 154px 0;
    background-color: rgb(0, 9, 15);
    position: relative;

    @media (max-width:767px){
        padding: 30px 0;
    }
    
    &__gradient{
        position: absolute;
        z-index: 2;
        left: 0;
        top: -100px;
        height: 200px;
        width: 100%;
        height: 200px;
        background: linear-gradient(rgb(0, 9, 15, 0), rgb(0, 9, 15), rgb(0, 9, 15,0)); 

        @media (max-width:992px){
            display: none;
        }
    }

    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        @media (max-width:992px){
            flex-wrap: wrap;
            justify-content: center;
        }
    }

    &__logo {
        position: relative;
        display: flex;
        flex-direction: column;
        flex: 0 1 23.2203%;
        z-index: 2;

        @media (max-width:992px){
            flex: 0 0 100%;
            justify-content: center;
            text-align: center;
            margin-bottom: 20px;
        }
    }

    &__logo-img {
        margin: 0 auto;
        margin-bottom: 32px;
        cursor: pointer;
    }

    &__description {
        font-family: Nunito;
        font-size: 16px;
        font-weight: 400;
        line-height: 19px;
        color: #D9F7F5;
    }

    &__contacts {
        position: relative;
        flex: 0 1 76.7796%;
        display: flex;
        justify-content: flex-end;
        margin: 0 -50px;
        z-index: 2;

        @media (max-width:550px){
            flex-direction: column;
            margin: 0 0 0 0;
            align-items: center;
        }
    }

    &__column {
        padding: 0 50px;
        @media (max-width:550px){
            padding: 10px;
            text-align: center;
        }
    }

    &__title {
        text-transform: uppercase;
        font-family: Nunito;
        font-size: 16px;
        font-weight: 700;
        line-height: 35px;
        color: #2ADACC;
        margin-bottom: 7px;
    }

    &__list {
        font-family: Nunito;
        font-size: 16px;
        font-weight: 400;
        line-height: 35px;
        color: #D9F7F5;

        & li{
            cursor: pointer;
            transition: .2s;

            &:hover{
                color: #2ADACC;
            }
        }
    }
}

//-------------------- footer

.footer {
    padding: 14px 0;
    background-color: #000305;
    
    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
        @media (max-width:550px){
            flex-direction: column;
            padding: 10px 0;
        }
    }

    &__copyright {
        text-align: center;
        @media (max-width:550px){
            margin-bottom: 10px;
        }
    }

    &__text {
        font-family: Nunito;
        font-size: 12px;
        font-weight: 400;
        line-height: 14px;
        color: #D9F7F5;
    }

    &__social {
        display: flex;
        align-items: space-around;
        cursor: pointer;

        img {
            transition: .2s;

            &:hover{
                filter: contrast(0);
            }
        }
    }

    &__icon {
        margin-right: 10px;

        &:last-child{
            margin-right: 0;
        }
    }
}

//-------------------- MEDIA

